<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929207598454-j6bbfjpv628s23igj2u698h42ahbhdlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929207598454-j6bbfjpv628s23igj2u698h42ahbhdlo</string>
	<key>API_KEY</key>
	<string>AIzaSyDbiJorge1HfYyT9XRztDWuvnNyyKiGKq8</string>
	<key>GCM_SENDER_ID</key>
	<string>929207598454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mytaxioffice.my-taxi-office</string>
	<key>PROJECT_ID</key>
	<string>chilliwack-radio</string>
	<key>STORAGE_BUCKET</key>
	<string>chilliwack-radio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929207598454:ios:ae2f4d136a1335e8094e57</string>
	<key>DATABASE_URL</key>
	<string>https://chilliwack-radio.firebaseio.com</string>
</dict>
</plist>